@model LogicModelLibrary.RealEstateWithCalendar

@section Head{
    <link href="../../Content/Mycss/carouselImovelUnico.css" rel="stylesheet">
}
<script>
    var imageAlter = "../../Images/@Model.realEstate.Photos.Photos[Model.realEstate.Photos.Highlight]";
</script>
<script src="~/Content/MyScripts/OneDestinationScript.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../docs-assets/js/holder.js"></script>


<div class="imagem">
<h1>@Model.realEstate.ShortName</h1>
<img src="../../Images/@Model.realEstate.Photos.Photos[@Model.realEstate.Photos.Highlight]" id="imageAlter" height="350" width="500">
<div class="imagens">
    <ul>
        <p>
            @foreach (var e in Model.realEstate.Photos.Photos)
            {
                string val = "../../Images/" + e;
                <img src="@val" id="@e" height="50" width="50"/>
            }
        </p>
    </ul>
</div>
<hr>
<h2>Descrição</h2>
<p class="description">@Model.realEstate.LongDescription</p>
<hr>
<div class="row">
    <div class="col-md-6">@Html.Partial("View1")</div>
    <div class="col-md-2">
        <table class="tableData" align="center" width="400" height="400">
            <tr>
                <td colspan=2><h2>Informações do imovel</h2></td>
            </tr>
            <tr>
                <td>Local</td>
                <td>@Model.realEstate._Location.Local</td>
            </tr>
            <tr>
                <td>Posição</td>
                <td>@Model.realEstate._Location.Coordinates.Latitude , @Model.realEstate._Location.Coordinates.Longitude</td>
            </tr>
            <tr>
                <td>Capacidade</td>
                <td>@Model.realEstate._Feature.Capacity</td>
            </tr>
            <tr>
                <td>Dimensão</td>
                <td>@Model.realEstate._Feature.Dimensions m²</td>
            </tr>
            <tr>
                <td>Divisões</td>
                <td>@Model.realEstate._Feature.Sections</td>
            </tr>
            <tr>
                <td>Quartos</td>
                <td>@Model.realEstate._Feature.Rooms</td>
            </tr>
            <tr>
                <td>Ranking</td>
                <td>
                    @for (var i = 0; i < 5; i++)
                    {
                        if (i < Model.realEstate._Appreciations.GetRank())
                        {
                            <span class="glyphicon glyphicon-star"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-star-empty"></span>
                        }
                    }

                </td>
            </tr>
        </table>
    </div>
</div>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h3>Check In</h3>
            <div id="CalendarIn">
                @Html.Partial("Calendar", Model.arrayCalendarCheckIn)
            </div>
        </div>
        <div class="col-md-3">
            <h3>Check Out</h3>
            <div id="CalendarOut">
                @Html.Partial("Calendar", Model.arrayCalendarCheckOut)
            </div>
        </div>
        <div class="col-md-3">
            <form method="POST" action="@Model.realEstate.id/Check" enctype="application/x-www-form-urlencoded" id="CheckForm">
                <div class="form-group">
                    <input type="hidden" id="CheckIn" name="CheckIn" value="" required="">
                    <input type="hidden" id="CheckOut" name="CheckOut" value="" required="">
                </div>
                <p>Escolha uma data para reserva</p>
                <button type="submit" id="submitCalendar" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>
<hr>
<div>
    <form class="form-inline" id="AprreciationForm" enctype="application/x-www-form-urlencoded">
        <h3>Apreciações</h3>
        <p id="erroLogin">&nbsp</p>
        <div class="form-group">
            <input type="number" class="form-control" id="Note" name="Note" placeholder="Note" min="0" max="5" required="">
        </div>
        <div id="descricao">
            <label>Descrição da apreciação</label>
            <input type="text" class="form-control" id="DescriptionOfAppreciation" name="DescriptionOfAppreciation" required=""> </input>
        </div>
        <button type="submit" class="btn btn-default" id="submitAppre">Submit</button>

    </form>
</div>
<hr>
<div id="Apprecation">
    @foreach (var e in Model.realEstate._Appreciations._Appreciations)
    {
        <div class="alert alert-info">
            @e.Author&#40;@e.DayOfAppreciation.Day / @e.DayOfAppreciation.Month / @e.DayOfAppreciation.Year): @e.DescriptionOfAppreciation
        </div>
    }
</div>
</div>

<p id ="CENA" hidden>@Model.realEstate.Photos.PhotosJson()</p>